* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* Light theme */
	--bg-color: #ffffff;
	--text-color: #222222;
	--primary-color: #4f46e5;
	--card-bg: #f9fafb;

	/* Fonts Styles */
	--base-font-size: 62.5%;
	--base-font-family: 'Onest', sans-serif;

	--up-arrow-color: #05a615;
	--down-arrow-color: #ff0000;
	--gray-2-color: #b3b0b0;
	--blue-primary: #1f75fe;
}

/* Dark theme overrides */
:root.dark {
	--bg-color: #121212;
	--text-color: #f5f5f5;
	--primary-color: #818cf8;
	--card-bg: #1e1e1e;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	transition:
		background-color 0.3s ease,
		color 0.3s ease;
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);

	/* max-width: 2000px;
	margin: 0 auto; */

	/* background-color: #121212; */
}
